{"oauth_consumer_key"=>"ckckck", 
"oauth_signature_method"=>"HMAC-SHA1", 
"oauth_timestamp"=>"1617510229", 
"oauth_nonce"=>"L0p2ywuNqkQafYwuGkDqEqtsNnGn4XUtO9EfuVY7E", 
"oauth_version"=>"1.0", 
"context_id"=>"a8db5736cf6945defe256b088b0d5eb70f9f7075", 
"context_label"=>"lheimann", 
"context_title"=>"Larry Heimann's Canvas Sandbox", 
"custom_canvas_api_domain"=>"canvas.cmu.edu", 
"custom_canvas_assignment_id"=>"359755", 
"custom_canvas_assignment_points_possible"=>"15", 
"custom_canvas_assignment_title"=>"BBWebTest", 
"custom_canvas_course_id"=>"22705", 
"custom_canvas_enrollment_state"=>"active", 
"custom_canvas_user_id"=>"41106", 
"custom_canvas_user_login_id"=>"yunxiaow@andrew.cmu.edu", 
"custom_canvas_workflow_state"=>"available", 
"ext_ims_lis_basic_outcome_url"=>"https://canvas.cmu.edu/api/lti/v1/tools/8283/ext_grade_passback", 
"ext_lti_assignment_id"=>"718f643b-7441-4477-88c5-27db10b3d137", 
"ext_outcome_data_values_accepted"=>"url,text", 
"ext_outcome_result_total_score_accepted"=>"true", 
"ext_outcome_submission_submitted_at_accepted"=>"true", 
"ext_outcomes_tool_placement_url"=>"https://canvas.cmu.edu/api/lti/v1/turnitin/outcomes_placement/8283", 
"ext_roles"=>"urn:lti:instrole:ims/lis/Instructor,urn:lti:instrole:ims/lis/Student,urn:lti:role:ims/lis/Instructor,urn:lti:sysrole:ims/lis/User", 
"launch_presentation_document_target"=>"iframe", 
"launch_presentation_locale"=>"en", 
"launch_presentation_return_url"=>"https://canvas.cmu.edu/courses/22705/external_content/success/external_tool_redirect", 
"lis_course_offering_sourcedid"=>"lheimann@andrew.cmu.edu", 
"lis_outcome_service_url"=>"https://canvas.cmu.edu/api/lti/v1/tools/8283/grade_passback", 
"lis_person_contact_email_primary"=>"kevinwang1@cmu.edu", 
"lis_person_name_family"=>"Wang", 
"lis_person_name_full"=>"Kevin Wang", 
"lis_person_name_given"=>"Kevin", 
"lis_person_sourcedid"=>"C21B7CA0-DF14-11E7-8001-005056AE2541", 
"lti_message_type"=>"basic-lti-launch-request", 
"lti_version"=>"LTI-1p0", 
"oauth_callback"=>"about:blank", 
"resource_link_id"=>"eae5d7d7eda33503a1a350885a99583db7816554", 
"resource_link_title"=>"BBWebTest", 
"roles"=>"Instructor", 
"tool_consumer_info_product_family_code"=>"canvas", 
"tool_consumer_info_version"=>"cloud", 
"tool_consumer_instance_contact_email"=>"notifications@instructure.com", 
"tool_consumer_instance_guid"=>"DIaU25Do2cCPgvrq077VyeLlWOqVJBOryZuHIMrU:canvas-lms", 
"tool_consumer_instance_name"=>"Carnegie Mellon University", 
"user_id"=>"abd53159bf41df02d16f9a737c06c6ee6722f907", 
"user_image"=>"https://canvas.cmu.edu/images/thumbnails/5159589/FdW6LrdcS9DLftpLYDZt7Gn6TIE0pz3V7BhJDaGc", 
"oauth_signature"=>"tVWUUMu41S6t8zGrE1/tS9ZdFKY="}