## this is the student one, you won't get the same result with an admin viewing the LTI
{"oauth_consumer_key"=>"ckckck", 
"oauth_signature_method"=>"HMAC-SHA1", 
"oauth_timestamp"=>"1617515169", 
"oauth_nonce"=>"GKk3OLSLIS28bHxy1dorNS2SX9MHgUFfVEBhgv69XA", 
"oauth_version"=>"1.0", 
"context_id"=>"a8db5736cf6945defe256b088b0d5eb70f9f7075", 
"context_label"=>"lheimann", 
"context_title"=>"Larry Heimann's Canvas Sandbox", 
"custom_canvas_api_domain"=>"canvas.cmu.edu", 
"custom_canvas_assignment_id"=>"359755", 
"custom_canvas_assignment_points_possible"=>"15", 
"custom_canvas_assignment_title"=>"BBWebTest", 
"custom_canvas_course_id"=>"22705", 
"custom_canvas_enrollment_state"=>"active", 
"custom_canvas_user_id"=>"79304", 
"custom_canvas_user_login_id"=>"3e2b1a320b503ce966847914f4a88721b561900b", 
"custom_canvas_workflow_state"=>"available", 
"ext_ims_lis_basic_outcome_url"=>"https://canvas.cmu.edu/api/lti/v1/tools/8283/ext_grade_passback", 
"ext_lti_assignment_id"=>"718f643b-7441-4477-88c5-27db10b3d137", 
"ext_outcome_data_values_accepted"=>"url,text", 
"ext_outcome_result_total_score_accepted"=>"true", 
"ext_outcome_submission_submitted_at_accepted"=>"true", 
"ext_outcomes_tool_placement_url"=>"https://canvas.cmu.edu/api/lti/v1/turnitin/outcomes_placement/8283", 
"ext_roles"=>"urn:lti:instrole:ims/lis/Student,urn:lti:role:ims/lis/Learner,urn:lti:sysrole:ims/lis/User", 
"launch_presentation_document_target"=>"iframe", 
"launch_presentation_locale"=>"en", 
"launch_presentation_return_url"=>"https://canvas.cmu.edu/courses/22705/external_content/success/external_tool_redirect", 
"lis_course_offering_sourcedid"=>"lheimann@andrew.cmu.edu", 
"lis_outcome_service_url"=>"https://canvas.cmu.edu/api/lti/v1/tools/8283/grade_passback", 
"lis_person_contact_email_primary"=>"", 
"lis_person_name_family"=>"Student", 
"lis_person_name_full"=>"Test Student", 
"lis_person_name_given"=>"Test", 
"lis_result_sourcedid"=>"8283-22705-359755-79304-72664ef778074c0e908063e4dac58a98889015d8", 
"lti_message_type"=>"basic-lti-launch-request", 
"lti_version"=>"LTI-1p0", 
"oauth_callback"=>"about:blank", 
"resource_link_id"=>"eae5d7d7eda33503a1a350885a99583db7816554", 
"resource_link_title"=>"BBWebTest", 
"roles"=>"Learner", 
"tool_consumer_info_product_family_code"=>"canvas", 
"tool_consumer_info_version"=>"cloud", 
"tool_consumer_instance_contact_email"=>"notifications@instructure.com", 
"tool_consumer_instance_guid"=>"DIaU25Do2cCPgvrq077VyeLlWOqVJBOryZuHIMrU:canvas-lms", 
"tool_consumer_instance_name"=>"Carnegie Mellon University", 
"user_id"=>"7e0d200c76f49767a72b070c1f8ffd65a6c3d0d3", 
"user_image"=>"https://canvas.instructure.com/images/messages/avatar-50.png", 
"oauth_signature"=>"llU4yk4peu6kq+72jg59AtRRHfA="}