<h1>BooomBridge</h1>

<h2>LTI Launch</h2>

<p>View the LTI Launch endpoint <a href="<%= lti_launch_path %>" data-turbolinks="false">here</a></p>

<p>Note, this url is typically sent a POST request with all sorts of LTI data.  If you access it directly, it'll display an error page indicating your request did not validate.</p>

<h3>Configuring LTI Launch</h3>
<ol>
	<li>Set <b>Launch URL</b> to <span>"<%= lti_launch_url %>"</span></li>
	<li>Set <b>Consmer key</b> to the value defined in <span>"config/lti_settings.yml"</span></li>
	<li>Set <b>Shared secret</b> to the value defined in <span>"config/lti_settings.yml"</span></li>
</ol>

<h3><a href="<%= lti_privacy_path %>" data-turbolinks="false">Privacy Policy</a></h3>
