<script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
></script>

<h1>
    Welcome, <%= @lis_person_name_full %>
</h1>

<div>
    <h2> <i class="fas fa-camera"></i> Screenshot Your Boom Cards</h2>
    <h3>Make sure they look like these:</h3>
    <img src="correct.png" height = "200" alt="Correct">
    <img src="wrong.png" height = "200" alt="Wrong">
    <h2><i class="fas fa-upload"></i> Submit here</h2>

   <div class="drop-zone">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" name="myFile" class="drop-zone__input">
    </div> 
    <div id="spinner" class="spinner" style="display:none;">
        <span class="spinner-inner-1"></span>
        <span class="spinner-inner-2"></span>
        <span class="spinner-inner-3"></span>
    </div>

</div>
