<h1>LTI Launch Verified!</h1>
<ul>
    <li>lis_person_name_full is <b><%= @lis_person_name_full %></b></li>
    <li>Controller: Application#launch</li>
    <li>Template: app/views/application/launch.html.erb</li>
</ul>


<%= link_to '<button type="button">Get 5/15</button>'.html_safe, lti_grade_path1 %>
<%= link_to '<button type="button">Get 15/15</button>'.html_safe, lti_grade_path2 %>
