<h1>LTI Launch Verified!</h1>
<ul>
    <li>lis_person_name_full is <b><%= @lis_person_name_full %></b></li>
    <li>Controller: Application#launch</li>
    <li>Template: app/views/application/launch.html.erb</li>
</ul>

<%= button_to 'Get 5/15'.html_safe, {:controller => "application", :action => "grade", :score => 5} , :method=>:post  %>
<%= button_to 'Get 10/15'.html_safe, {:controller => "application", :action => "grade", :score => 10} , :method=>:post  %>
<%= button_to 'Get 15/15'.html_safe, {:controller => "application", :action => "grade", :score => 15} , :method=>:post  %>