<h1>BoomBridge v0.1</h1>
<p>
    Welcome, <%= @lis_person_name_full %>
</p>

<div>
    <h2>Upload your BoomCards screenshot here</h2>
   <div class="drop-zone">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" name="myFile" class="drop-zone__input">
    </div> 
    <div id="spinner" class="spinner" style="display:none;">
        <span class="spinner-inner-1"></span>
        <span class="spinner-inner-2"></span>
        <span class="spinner-inner-3"></span>
    </div>
</div>
