<h1>Privacy Policy</h1>

<h2>The Data We Collect</h2>
<p>BoomBridge collects no data. In other words, the application does not permanently store any data (except in memory to support user activities while they are interacting with this tool).</p>

<h2>The Data We Process</h2>
<p>We process encrypted student and course information using the Canvas LTI APIs. Additionally, we process student screenshots on-device to extract grading information. We only send the extracted grades to our servers. Student uploaded screenshots are never sent to our servers and is kept strictly in the cache on their local machines.</p>

<h2>How We Protect Your Data</h2>
<p>At BoomBridge, we believe that privacy is a fundamental human right. We protect your data in the following ways:</p>
<ul>
    <li>Data Minimization: we only collect the data we need to deliver the services provided by this tool.</li>
    <li>On-Device Processing: we use on-device machine learning to recognize grade information from screenshots. Student-submitted screenshots never leave their devices.</li>
    <li>Control: this LTI tool can be easily disconnected from Canvas.</li>
    <li>Data Security: student data is encrypted in both directions when we communicate with Canvas using a private key </li>
</ul>

<h2>Your Obligations with Respect to Children and Students</h2>
<p>Educators are allowed to connect this app to Canvas via the LTI plug-in feature. We treat the process of adding this app to Canvas as a verification of the adult status of the person adding the plug-in (Administrator).</p>
<p>As an Administrator of the plug-in, you must have the legal right to set up this plug-in for students enrolled in your Canvas course(s), such as being the parent or legal guardian of a student, the right to act in parentis loci under the Family Educational Rights and Privacy Act (FERPA) (as required by the Children’s Online Privacy Protection Act), or a signed consent from the parent or legal guardian of the student.</p>
<p>Schools agree and understand that their legal right to engage BoomBridge to process student data on their behalf arises under the school official exception of FERPA. Pursuant to that exception, BoomBridge performs a service for which a school would otherwise use employees and BoomBridge operates under the control of the school with respect to the use and maintenance of education records for a legitimate education interest. BoomBridge uses student data solely for the purpose of fulfilling our duties and providing and improving services under this agreement.</p>

<h2>Vendors Privacy</h2>
<p>The usage of this app depends on two external Vendors: Canvas and Boom Cards. Tools provided by both Vendors are FERPA compliant. Please refer to their respective privacy policy documentation for more details:</p>
<ul>
    <li>Canvas: <a href="https://www.instructure.com/policies/privacy">Canvas Privacy Policy</a></li>
    <li>Boom Cards / Boom Learning: <a href="https://wow.boomlearning.com/blog/privacy">Boom Learning Privacy Policy</a></li>
</ul>