<h1>Privacy Page</h1>

<h2><b>Data Handling Information</b></h2>

<p>
  This LTI app collects no data. We process screenshots, but the images are not saved anywhere, and immediately discarded once grade information is sent to Canvas. No other information is collected/processed from the images.
</p>

<p>For more details, please refer to the <a href="https://wow.boomlearning.com/blog/privacy">Boom Learning Privacy Policy</a>.</p>
