<!DOCTYPE html>
<html lang="en-US">

<head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js' %>

    <title>BoomBridge</title>
</head>

<body>